<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elitepage1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Item_buy"></activity>
        <activity android:name=".Item_Suggest" />
        <activity android:name=".Display" />
        <activity android:name=".List"></activity>
        <activity android:name=".MainActivity" >

        <activity android:name=".Payment_Unsuccsess"></activity>
        <activity android:name=".Payment_paid_Success" />
        <activity android:name=".Profile" />
        <activity android:name=".SuccessfullMessage" />
        <activity android:name=".Payment_Methods" />
        <activity android:name=".Payment" />
        <activity
            android:name=".Explore"
            android:label="@string/title_activity_explore" />
        <activity android:name=".Explore_Home" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>